
.viewport {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

#fileinput {
	-fx-background-color: transparent, white, transparent, white;
}

.combo-box:focused .text-field, .choice-box:focused, .color-picker:focused, .date-picker:focused .text-field
{
	-fx-effect: dropshadow(gaussian, #b4d1f3, 3, 3, 0, 0);
}
.combo-box:focused * {
	-fx-effect: none;
}
#toggleupdatedprocess:selected .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
                            linear-gradient(to bottom, derive(rgb(50,150,200), 30%), rgb(40,130,220));
    -fx-background-insets: 0, 1;

}
#toggleupdatedexport:selected .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
                            linear-gradient(to bottom, derive(rgb(50,200,50), 30%), rgb(40,170,40));
    -fx-background-insets: 0, 1;

}
#white {
	-fx-background-insets: 0;
	-fx-background-color: transparent, white, transparent, white;

}
.toggle-button {
    -fx-background-color: white;
     -fx-border-width: 1;
}
.toggle-button:selected {
    -fx-background-color: rgb(200, 200, 200);
     -fx-border-width: 1;
}

.toggle-button:selected:focused {
     -fx-background-color: rgb(200, 200, 200);
     -fx-border-width: 3;
}